.type-16 .icon-box-wrapper {
  align-items: center;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.type-16 .icon-box-description {
  margin: 0;
}
.type-16 .icon-box-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 70px;
}
.type-16 .icon-box-description {
  font-family: Raleway;
  font-size: 17px;
  padding-left: 50px;
  margin-left: 20px;
}
.type-16 .icon-box-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  color: #8db392;
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
  float: left;
}
.type-16 .fa {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-size: 50px;
  text-align: center;
}
