.readmore{
    background:#8DB392;
    padding: 10x 10px;
    text-decoration: none;
}
.readmore:hover{
    background:rgb(73, 88, 75);
   
}
@media (max-width: 768px) {
    .card-columns {
        column-count: 1!important;
    }
}
@media (max-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}