.type-11 {
  background-color: #f7f3f3;
  
}
.type-11 .Planning {
  
  font-size: 36px;
  font-family: lora;
  padding-top: 40px;
}
.type-11 .Planning p {
  font-family: Raleway;
}
.type-11 .chinhpadding {
  padding: 5px !important;
}
.type-11 .chinhpadding img {
  width: 100%;
  height: auto;
  display: block;
}
