.type-25 .title-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type-25{
  background: #F7F3F3;
}
.type-25 .logo-btn {
  text-align: right;
}
.type-25 .name-logo,
.type-25 .logo-btn {
  width: 50%;
}
.type-25 .the-title {
  color: #000000;
}
.type-25 .the-title {
  font-family: Raleway;
  line-height: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-bottom: 20px;
}
.type-25 p {
  font-family: Raleway;
  font-weight: 400;
  text-align: inherit;
  font-size: 18px;
}
.type-25 .btn-viewall {
  font-size: 14px;
  color: #3e3e3e;
  background-color: rgba(181,181,181,0);
  border-radius: 50px 50px 50px 50px;
  padding: 10px 30px 10px 30px;
}
.type-25 .btn-viewall {
  border-style: double;
  border-width: 2px 2px 2px 2px;
  border-color: #3e3e3e;
}
.type-25 .btn-viewall:hover {
  color: #ffffff;
  background-color: #8db392;
  border-color: #8db392;
  font-size: 14px;
  border-radius: 50px 50px 50px 50px;
  padding: 10px 30px 10px 30px;
  border-style: double;
  border-width: 2px 2px 2px 2px;
  transform: translateY(8px);
}
